In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Завдання 1: Прочитайте CSV файл
df = pd.read_csv(r"C:\Users\Asus\data\bestsellers with categories.csv")

In [3]:
#Завдання 2: Виведіть перші 10 рядків (метод head) 
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [4]:
#Завдання 3: 
df.shape

(550, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

Питання: Про скільки книг зберігає дані датасет?

In [6]:
nunique_books = df['Name'].nunique()
print(f"У датасеті інформація про {nunique_books} унікальних книг")

У датасеті інформація про 351 унікальних книг

In [7]:
#Завдання 4: Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення

df.columns = df.columns.str.lower().str.replace(' ', '_')

Питання : Чи є в якихось змінних пропуски? (Так / ні)

In [8]:
#Завдання 5 
df.isna().sum()

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

Пропущених даних немає

Питання : Які є унікальні жанри?

In [9]:
#3авдання 6

df.genre.unique()

array(['Non Fiction', 'Fiction'], dtype=object)

У даному датасеті книги двох жанрів: Non Fiction та Fiction

In [10]:
#Завдання 7: Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

In [11]:
df.describe()

       user_rating       reviews       price         year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

Максимальма ціна?

In [12]:
df.price.max()

105

Мінімальна ціна?

In [13]:
df.price.min()

0

Середня ціна?

In [14]:
df.price.mean()

13.1

Медіана ціни?

In [15]:
df.price.median()

11.0

In [16]:
#Завдання 8: Виконайте наступні завдання з пошуку і сортування даних

Який рейтинг у датасеті найвищий?

In [17]:
max_rating = df.user_rating.max()
max_rating

4.9

 Скільки книг мають такий рейтинг?

In [18]:
#видалимо назви дуплікати за назвою книги і тоді отримаємо правильну кількість
top_book_ratings = df.query('user_rating == @max_rating').drop_duplicates('name')
top_book_ratings

,name,author,user_rating,reviews,price,year,genre
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,5062,6,2018,Fiction
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9,4786,8,2017,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2018,Fiction
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,12619,8,2019,Fiction
86,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,4.9,9089,8,2019,Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9,5470,6,2018,Fiction
146,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,4.9,7038,7,2012,Fiction
151,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,5867,54,2016,Non Fiction
153,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,4.9,19622,30,2016,Fiction
155,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,4.9,7758,18,2019,Fiction
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
157,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,10052,22,2016,Fiction
174,Humans of New York : Stories,Brandon Stanton,4.9,2812,17,2015,Non Fiction
187,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9,19576,8,2011,Non Fiction
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9,11881,13,2018,Fiction
219,Little Blue Truck,Alice Schertle,4.9,1884,0,2014,Fiction
244,Obama: An Intimate Portrait,Pete Souza,4.9,3192,22,2017,Non Fiction
245,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2012,Fiction
288,Rush Revere and the Brave Pilgrims: Time-Trave...,Rush Limbaugh,4.9,7150,12,2013,Fiction
289,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,4.9,3836,12,2014,Fiction
303,Strange Planet (Strange Planet Series),Nathan W. Pyle,4.9,9382,6,2019,Fiction
420,The Legend of Zelda: Hyrule Historia,Patrick Thorpe,4.9,5396,20,2013,Fiction
431,The Magnolia Story,Chip Gaines,4.9,7861,5,2016,Non Fiction
476,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2013,Fiction
486,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2016,Fiction
521,Unfreedom of the Press,Mark R. Levin,4.9,5956,11,2019,Non Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction

In [19]:
top_book_ratings.shape
#top_book_ratings.count()

(28, 7)

28 книг у датасеті мають максимальний рейтинг

 Яка книга має найбільше відгуків?

In [20]:
df[df["reviews"]==df["reviews"].max()]

,name,author,user_rating,reviews,price,year,genre
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction

 З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?

In [21]:
max_price_2010 = df.query('year==2010')['price'].idxmax()
most_expensive_book_2010 = df.loc[max_price_2010]
most_expensive_book_2010

name           Publication Manual of the American Psychologic...
author                        American Psychological Association
user_rating                                                  4.5
reviews                                                     8580
price                                                         46
year                                                        2010
genre                                                Non Fiction
Name: 272, dtype: object

Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році

In [22]:
fiction_number_2010 = df.query('year==2012').drop_duplicates("name")['genre'].count()
fiction_number_2010

50

Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?

In [23]:
condition = ((df['year'] == 2010) | (df['year'] == 2011)) & (df['user_rating'] == 4.9)

books_4_9_2010_2011 = df[condition]
number_of_books_4_9_2010_2011 = books_4_9_2010_2011.shape[0]

print(f"Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: {number_of_books_4_9_2010_2011}")

Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: 1

In [24]:
#Завдання 9:Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction 
#(за допомогою методів  groupby та agg для підрахунку мінімальних та максимальних значень використовуйте max та min). 
#Використовуйте тількі потрібні вам стовпці. 

df.groupby('genre').agg({'price': ['max', 'min']})

            price
              max min
genre
Fiction        82   0
Non Fiction   105   0